*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fixed Navbar */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    z-index: 1000;
}

/* Main Grid Container */
.container{
    margin-top: 70px; /* navbar space */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    border: 4px solid black;
}

/* Images */
.img{
    height: 150px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.img1{ background: lightcoral; }
.img2{ background: lightblue; }
.img3{ background: lightgreen; }

/* Video */
.video{
    grid-column: 1 / 3;
    height: 180px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background:lightsalmon;
}

/* Paragraph */
.para{
    border: 3px solid black;
    padding: 15px;
    background-color: lightseagreen;
}

/* Address */
.address{
    grid-column: 1 / 2;
    border: 3px solid black;
    padding: 15px;
    background-color: lightslategray;
}

/* Description */
.desc{
    grid-column: 2 / 4;
    border: 3px dashed black;
    padding: 15px;
    background-color: lightpink;
}

/* Footer */
.footer{
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
